@use '../../assets/scss/_variables' as *;

.dashboard{
  background-color:map-get($colors, background, base);
  position:relative;

  &__header{
    font-size:1.75rem; /* 42px = 2.63rem, 28px=1.75rem*/
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight:bold;
    color:map-get($colors, text, head );
    margin:20px 0 20px 30px;
  }
  &__first{
    display:flex;
    flex-direction:column;
    margin-top:0;
    border:1px solid blue;
  &__left{
    width:100%;
    position:relative;
    left:0;
    border:1px solid pink;
    margin-bottom:20px;
    &__status__card{
      margin:10px 0px;
      display:flex;
      flex-direction:column;
      flex-wrap:wrap;
      justify-content:space-evenly;
      
      @include responsive('xxsmall'){
        flex-direction: row;
      }

      @include responsive('xsmall'){
        margin-right:40px;
        justify-content:space-around;
      }
      @include responsive('small'){
        margin-right:80px;
        justify-content:space-evenly;
      }
    }
  }
  &__right{
    width:100%;
    position:relative;
    border:1px solid purple;
    &__graphic{
      width:300px;
      height:500px;
      border:1px solid green;
      margin:10px;
    }
  }
  }

  &__second{
    display:none;
  }
}



