@use '../../assets/scss/_styles' as *;
@use '../../assets/scss/_mixins' as *;

.dashboard{
  background-color:map-get($colors, background, base);
  position:relative;

  &__header{
    font-size:1.75rem; /* 42px = 2.63rem, 28px=1.75rem*/
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight:bold;
    color:map-get($colors, text, head );
    margin:20px 0 20px 30px;
  }

  &__first{
    display:grid;
    grid-template-columns:1fr;
    grid-template-rows:1fr;
    grid-column-gap:20px;
    border:1px solid green;
    margin-left:auto;
    margin-right:auto;
    width:calc(100% - 20px);

    &__left{
      margin:15px 20px;
      overflow-x:hidden;
  display:grid;
  grid-template-columns:calc(100% - 60px);
  grid-template-rows: auto auto auto auto;
    }
  }
}