@use '../../assets/scss/_variables' as *;

.dashboard{
  background-color:map-get($colors, background, base);
  position:relative;
  overflow-x:hidden;
  
  &__header{
    font-size:1.75rem; /* 42px = 2.63rem, 28px=1.75rem*/
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight:bold;
    color:map-get($colors, text, head );
    margin:20px 0 20px 30px;
  }

  &__first{
    display:flex;
    flex-direction:column;

   
    &__left{
      width:calc(100% - 30px);
      height:auto;
      margin:10px 20px 0 10px;
      display:flex;

      @include responsive('xsmall'){
        width:100%;
        background-color:pink;
        flex-direction:row;
        display:flex;
        margin:10px 10px 0 10px;

      }

      
      &__statusCard{
        display: flex;
        justify-content:center;
        align-items:center;

        @include responsive('xsmall'){
          display:flex;
          flex-direction:row;
          flex-wap:wrap;
        }
      }
    }
    &__right{
      width:100%;
      height:auto;

      &__card{
        position:absolute;
        margin:20px;
        border:1px solid black;

        &__graphic{
          color:green;
        }
      }
    }
  }

  .col-6{display:none;}
  /*
  &__first{
    display:grid;
    grid-template-columns:1fr;
    grid-template-rows:1fr;
    grid-column-gap:20px;
    border:1px solid green;
    margin-left:auto;
    margin-right:auto;
    width:calc(100% - 20px);

    &__left{
      overflow-x:hidden;
      display:grid;
      margin-left:auto;
      margin-right:auto;
      grid-template-columns:calc(100% - 60px);
      grid-template-rows: auto auto auto auto;
border:1px solid blue;
    }
  }
  */

}