@import '../../assets/scss/styles';
.dashboard{
  background-color:none;
  position:relative;
}

.page__header{
  font-size:2.63rem; /* 42px*/
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-weight:bold;
  color:map-get($colors, text, head );
  margin-bottom:30px;
}

