/*
.tableWrapper {
  overflow-y: auto;
}
*/

table {
  width: 100%;
  min-width: 400px;
  border-spacing: 0;
}

thead {
  background-color: var(--background3);
}

tr {
  text-align: left;
}

th,
td {
  text-transform: capitalize;
  padding: 15px 10px;
}

tbody > tr:hover {
  background-color: var(--background2);
  color: var(--textColor2);
}
