/*
.tableWrapper {
  overflow-y: auto;
}
*/

.tableWrapper {
  /* border: 1px solid green; */

  padding: 0;
  margin: 0;
}

table {
  width: 100%;
  min-width: 400px;
  color: var(--textColor4);
  padding: 0;
  margin: 0;
  border-collapse: collapse;
}

tr {
  text-align: left;
}

td {
  /*border: 1px solid blue;*/
  padding: 15px 5px;
}
th {
  padding: 15px 5px;
}

th,
td {
  text-transform: capitalize;
  /*border: 2px solid purple;*/
}

tbody > tr:hover {
  background-image: -webkit-linear-gradient(
    to right,
    var(--background2),
    var(--background3)
  );
  background-image: -moz-linear-gradient(
    to right,
    var(--background2),
    var(--background3)
  );
  background-image: -ms-linear-gradient(
    to right,
    var(--background2),
    var(--background3)
  );
  background-image: -o-linear-gradient(
    to right,
    var(--background2),
    var(--background3)
  );
  background-image: linear-gradient(
    to right,
    var(--background2),
    var(--background3)
  );
  color: var(--textColor2);
}
