.topnav {
  padding: 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: var(--topnavHeight);
}

.topnavSearch {
  position: relative;
  height: 50px;
  background-color: var(--bg-main);
  display: flex;
  align-items: center;
  box-shadow: var(--boxShadow);
  border-radius: var(--borderRadius);
  overflow: hidden;
}

.topnavSearch > input {
  height: 100%;
  width: 100%;
  padding: 10px 60px 10px 20px;
  font: size 1rem;
  border-radius: var(--borderRadius);
  color: var(--text-color1);
  background-color: var(--bg-main);
}
.topnavSearch > i {
  font-size: 1.5rem;
  position: absolute;
  right: 20px;
}

.topnavRight {
  display: flex;
  align-items: center;
}

.topnavRight-item ~ .topnavRight-item {
  margin-left: 30px;
}

.notificationItem {
  display: flex;
  align-items: center;
  padding: 20px;
}

.notificationItem:hover {
  background-color: violet;
}

.notificationItem > i {
  margin-right: 20px;
  font-size: 1.5rem;
}

.topnavRight-user {
  display: flex;
  align-items: center;
}

.topnavRight-user-image {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  overflow: hidden;
  margin-right: 10px;
}

.topnavRight-user-image > img {
  width: 100%;
  height: 100%;
}

.topnavRight-user-name {
  font-size: 1rem;
  font-weight: 600;
}
