.topnav {
  padding: 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: var(--topnavHeight);
}

.topnavRight {
  display: flex;
  align-items: center;
}

.topnavRight-item.user,
.topnavRight-item.bell {
  margin-right: 30px;
}

.topnavRight-item.bell,
.topNavRight-item.user {
  color: rgba(142, 142, 142, 0.59) !important;
  font-size: 24px !important;
}

.topnavRight-user:hover,
.topNavRight-user.active {
  color: #0c55af;
}

.notificationItem,
.userItem {
  display: flex;
  align-items: center;
  padding-top: 5px;
  margin-bottom: 20px;
}

.notificationItem:nth-child(1) {
  color: #0c55af;
  font-weight: bold;
  font-size: 1rem;
}
.notificationItem:nth-child(1):hover {
  border: none;
  cursor: text;
}

.notificationItem:hover,
.userItem:hover {
  cursor: pointer;
  border-radius: 2px;
  border-bottom: 3px solid transparent;
  border-image-slice: 1;
  border-image-source: linear-gradient(to right, #0c55af, #fefaf4);
  color: var(--color1);
}

.notificationItem > i {
  margin-right: 10px;
  font-size: 1.25rem;
}

.topnavRight-user {
  display: flex;
  align-items: center;
}

.topnavRight-user-image {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  overflow: hidden;
  margin-right: 10px;
}

.topnavRight-user-image > img {
  width: 100%;
  height: 100%;
}

.topnavRight-user-name {
  font-size: 1rem;
  font-weight: 600;
}

.notification-list.icon {
  color: green;
}
