.sidebar.inactive .topnav{
  position:absolute;
  width:calc(100% - 100px);
} 

.topnav{
  display:flex;
  flex-direction:row;
  justify-content:space-between;
  align-items:center;
  border:1px solid green;
  height:110px;
  left:310px;
  right:10px;
  width:calc(100% - 320px);
  position:fixed;

  
  &__right{
    position:absolute;
    right:0;
    display:inline-flex;
    justify-content:flex-end;

    &__user{
      display:inline-flex;
      align-items:center;
      margin-right:10px;

      &__image{
        width:40px;
        height:40px;
        overflow:hidden;
        border-radius:50%;

        img{
          width:100%;
          height:100%;
        }
      }

      &__name{
        font-weight:700;
        font-size:1rem;
        margin-left:8px;
      }
    }
  }
}


