.topnav {
  padding: 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: var(--topnavHeight);
}

.topnavSearch {
  position: relative;
  height: 30px;
  background-color: transparent;
  display: flex;
  align-items: center;
  overflow: hidden;
}

.topnavSearch > input {
  height: 100%;
  width: 100%;
  border: none;
  background-color: transparent;
  border-radius: 2px;
  border-bottom: 2px solid #0c55af;
  padding: 10px 60px 5px 20px;
  font: size 1rem;
  color: var(--text-color1);
  box-sizing: border-box;
}

.topnavSearch > input:hover,
.topnavSearch > input:focus {
  border: none;
  border-radius: 2px;
  border-bottom: 3px solid transparent;
  border-image-slice: 1;
  border-image-source: linear-gradient(to right, #0c55af, #fefaf4);
}

.topnavSearch > input:focus {
  outline: none;
}

.topnavSearch > i {
  font-size: 1.5rem;
  position: relative;
  left: 20px;
}

.topnavRight {
  display: flex;
  align-items: center;
}

.topnavRight-item.user,
.topnavRight-item.bell {
  margin-right: 30px;
}

.user {
  border: 1px solid green;
}

.userMenuItem {
  border: 5px solid pink;
}

.topnavRight-item.bell {
  color: rgba(142, 142, 142, 0.59) !important;
  font-size: 24px !important;
}

.notificationItem {
  display: flex;
  align-items: center;
  padding-top: 5px;
  margin-bottom: 20px;
}

.notificationItem:nth-child(1) {
  color: #0c55af;
  font-weight: bold;
  font-size: 1rem;
}
.notificationItem:nth-child(1):hover {
  border: none;
  cursor: text;
}

.notificationItem:hover {
  cursor: pointer;
  border-radius: 2px;
  border-bottom: 3px solid transparent;
  border-image-slice: 1;
  border-image-source: linear-gradient(to right, #0c55af, #fefaf4);
  color: var(--color1);
}

.notificationItem > i {
  margin-right: 10px;
  font-size: 1.25rem;
}

.topnavRight-user {
  display: flex;
  align-items: center;
}

.topnavRight-user-image {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  overflow: hidden;
  margin-right: 10px;
}

.topnavRight-user-image > img {
  width: 100%;
  height: 100%;
}

.topnavRight-user-name {
  font-size: 1rem;
  font-weight: 600;
}
