.badge {
  padding: 6px 10px;
  color: var(--textColor2);
  border-radius: 10px;
  box-shadow: var(--boxShadow);
}

.badge-danger {
  background-color: var(--badgeDanger);
}

.badge-success {
  background-color: var(--badgeSuccess);
}

.badge-primary {
  background-color: var(--badgePrimary);
}

.badge-warning {
  background-color: var(--badgeWarning);
}
