:root {
  --sidebarWidth: 300px;
  --boxShadow: 0px 8px 24px rgba(149, 157, 165, 0.2);
  --textColor: #8e8e8e;
  --textColor2: #f5f5f5;
  --textColor3: #0b58b4;
  --background: rgb(255, 250, 250);
  --background2: #0c55af;
  --background3: #fefaf4;
  --borderRadius: 15px;
  --topnavHeight: 110px;
  --transitionCubic: cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* -webkit-tap-highlight-color: transparent;*/
}

body {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: greyscale;
  letter-spacing: 0.7px;
}

a {
  text-decoration: none;
  color: unset;
}

a:hover {
  color: mediumblue;
}

button {
  cursor: pointer;
  border: 0;
  outline: 0;
  color: var(--text-color);
}

ul {
  list-style-type: none;
}

input {
  border: 2px solid transparent;
  outline: 0;
}

input:focus {
  border: 2px solid var(--color1);
}

.full-height {
  height: 100%;
}

.card.full-height {
  height: calc(100% - 30px);
}

.cardHeader {
  text-transform: capitalize;
}

.cardHeader ~ .cardBody {
  margin-top: 30px;
}

.cardFooter {
  text-align: center;
  text-transform: capitalize;
}

.tag1 {
  position: absolute;
  float: left;
  color: blue;
  border: 1px solid purple;
}
