:root {
  --bg-main: #ffffff;
  --bg-second: #fafafb;
  --text-color: #8e8e8e;
  --text-color2: #ffffff;
  --color1: #0b58b4;
  --color2: #0c55af;
  --color3: #fefaf4;

  --sidebarWidth: 300px;
  --borderRadius: 15px;
  --boxShadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  --topnavHeight: 110px;
  --transitionCubic: cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* -webkit-tap-highlight-color: transparent;*/
}

body {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: greyscale;
  letter-spacing: 0.7px;
}

a {
  text-decoration: none;
  color: unset;
}

a:hover {
  color: mediumblue;
}

button {
  cursor: pointer;
  border: 0;
  outline: 0;
  color: var(--text-color);
}

ul {
  list-style-type: none;
}

input {
  border: 2px solid transparent;
  outline: 0;
}

input:focus {
  border: 2px solid var(--color1);
}

.pageHeader {
  margin-bottom: 40px;
  text-transform: capitalize;
}
