.customer{
  border:1px solid blue;
  overflow-x:hidden;

  &__search{
    margin:20px 30px 20px 30px;
    border:1px solid fuchsia;
  }

  &__form{
    border:1px solid purple;
    margin:30px;
    display:flex;
    justify-content:space-between;

    &__button{
      width:44px;
      height:44px;
      border-radius:50%;
      border:none;
      outline:none;
      background-color:transparent;
      display:flex;
      align-items:center;
      justify-content:center;
      cursor:pointer;
      i{
        color:#8e8e8e;
        font-size:2rem;
      }
      &:hover, &:focus, &.active{
        background-color: transparent;
        border:none;
        outline:none;
      }
    }
    &__modal{
      border:1px solid black;
      position:absolute;
      top:100px;
      padding:20px;

      h2{
        padding:40px;
      }
    }
  }
}