@use "../../assets/scss/_variables" as *;


.status__card{
  min-width:220px;
  width:100%;
  padding:30px;
  margin:30px auto;
  height:auto;
  border:1px solid black;
  @include responsive('xxsmall'){
    border:1px solid blue;
    min-width:350px;
  }
  @include responsive('xsmall'){
    border:1px solid darkgoldenrod;
    min-width:200px;
  }
  @include responsive('small'){
    border:1px solid darkmagenta;
    min-width:300px;
  }
  @include responsive('large'){
    border:1px solid darkolivegreen;
    min-width:250px;
  }
}