@use "../../assets/scss/_styles" as *;
@use "../../assets/scss/_mixins" as *;

.status__card{
  width:100%;
  padding:30px;
  border:1px solid blue;
  z-index:10;
  margin:0 0 15px 5px;
}

