@use "../../assets/scss/_variables" as *;

.status__card{
  min-width:200px;
  height:165px;
  display:flex;
  justify-content:space-between;
  position:relative;
  overflow:hidden;
  padding:30px;
  margin-bottom:30px;
  margin-left:auto;
  margin-right:auto;
  transition:color 0.5s ease 0s;
  color:map-get($colors, text, base);
  background-color:map-get($colors, background, light);
  border:1px solid map-get($colors, icon, dark);
  box-shadow:map-get($shadows, lightShadow);
  border-radius:map-get($radius, radius2);

  @include responsive('xxsmall'){
    min-width:220px;
  }
  @include responsive('xsmall'){
    min-width:150px;
    flex-wrap:wrap;
    flex-direction:row;
  }

  @include responsive('small'){
    max-width:200px;
    min-width:100px;
  }
}


/*
border:1px solid red; 
margin:10px 10px 0px 30px;
padding:20px;
display:grid;
grid-template-columns:calc(100% - 210px);
z-index:1;
transition:color 0.5s ease 0s;
  color:map-get($colors, text, base);
  background-color:map-get($colors, background, light);
  border:1px solid map-get($colors, icon, dark);
  box-shadow:map-get($shadows, lightShadow);
  border-radius:map-get($radius, radius2);
*/
