.statusCard {
  padding: 30px;
  display: flex;
  align-items: center;
  background-color: var(--bg-main);
  box-shadow: var(--boxShadow);
  border-radius: var(--borderRadius);
  position: relative;
  overflow: hidden;
  z-index: 1;
  transition: color 0.5s ease 0s;
  margin-bottom: 30px;
}

.statusCard-icon {
  width: 30%;
  height: 100%;
  font-size: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
}

.statusCard-info {
  flex-grow: 1;
  text-align: center;
  z-index: 1;
  text-transform: capitalize;
}

.statusCard-info > h4 {
  margin-bottom: 10px;
  font-size: 2.5rem;
}

.statusCard::before {
  content: "";
  width: 100%;
  padding-top: 100%;
  border-radius: 50%;
  background-image: linear-gradient(to top right, var(--color1), var(--color2));
  position: absolute;
  left: -50%;
  top: 0;
  transform: scale(0);
  transition: transform 0.8s ease 0s;
}

.statusCard:hover::before {
  transform: scale(3);
}

.statusCard:hover {
  color: var(--text-color2);
}
