.statusCard {
  display: flex;
  align-items: center;
  position: relative;
  overflow: hidden;
  z-index: 1;
  transition: color 0.5s ease 0s;

  width: 230px;
  height: 130px;
  margin-bottom: 30px;
  background-color: #fefaf4;
  box-shadow: 0 4px 6px rgba(142, 142, 142, 0.59);
  border-radius: 10px;

  padding: 29px 32px 29px 33px;
}

.statusCard-info {
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
}

.statusCard-info > span {
  font-size: 25px;
  font-weight: bold;
  text-transform: capitalize;
  color: #4f4d5c;
}

.statusCard-info > i {
  font-size: 40px;
  flex-grow: 1;
  text-align: right;
  justify-items: space-between;
  align-items: right;
  z-index: 1;
  color: #4f4d5c;
}

/*
.area {
  border: 1px solid transparent;
  width: 165px;
  height: 72px;
}
*/

.statusCard-title {
  font-size: 15px;
  color: rgba(142, 142, 142, 0.5);
  margin-bottom: 15px;
}

.statusCard::before {
  content: "";
  width: 100%;
  padding-top: 100%;
  color: whitesmoke;
  border-radius: 10px;
  background-image: linear-gradient(to top right, var(--color1), var(--color2));
  position: absolute;
  left: -50%;
  top: 0;
  transform: scale(0);
  transition: transform 0.8s ease 0s;
}

.statusCard:hover::before {
  transform: scale(3);
  color: whitesmoke;
}

.statusCard:hover {
  color: var(--text-color);
}
