.sidebar {
  min-width: var(--sidebarWidth);
  height: 100vh;
  position: fixed;
  left: 0;
  top: 0;
  background-color: snow;
  box-shadow: var(--boxShadow);
}

.sidebarLogo {
  height: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.sidebarLogo > img {
  height: 29px;
  width: 216.5px;
}

.sidebar__item {
  padding: 0 40px;
}

.sidebar__item_inner {
  padding: 15px 25px;
  display: flex;
  align-items: center;
  font-weight: 600;
  transition: color 0.3s ease 0s;
}

.sidebar__item_inner > i {
  margin-right: 10px;
  font-size: 1.5rem;
}

.sidebar__item_inner > span {
  text-transform: capitalize;
}

.sidebar__item_inner:hover {
  border-radius: 2px;
  border-bottom: 3px solid transparent;
  border-image-slice: 1;
  border-image-source: linear-gradient(to right, #0c55af, #fefaf4);
  color: var(--color1);
}

.sidebar__item_inner.active {
  border-radius: 2px;
  border-bottom: 4px solid transparent;
  border-image-slice: 1;
  border-image-source: linear-gradient(to right, #0c55af, #fefaf4);
  color: var(--color1);
}
