.sidebar {
  min-width: var(--sidebarWidth);
  height: 100vh;
  position: fixed;
  left: 0;
  top: 0;
  background-color: var(--background);
  box-shadow: var(--boxShadow);
  color: var(--textColor);
}

.sidebarLogo {
  height: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.sidebarLogo > img {
  height: 29px;
  width: 216.5px;
}

.sidebarItem {
  padding: 0 40px;
}

.SidebarItemInner {
  padding: 15px 25px;
  display: flex;
  align-items: center;
  font-weight: 600;
  transition: color 0.3s ease 0s;
}

.SidebarItemInner > i {
  margin-right: 10px;
  font-size: 1.5rem;
}

.SidebarItemInner > span {
  text-transform: capitalize;
}

.SidebarItemInner:hover,
.SidebarItemInner.active {
  border-radius: 2px;
  border-bottom: 4px solid transparent;
  border-image-slice: 1;
  border-image-source: linear-gradient(
    to right,
    var(--background2),
    var(--background3)
  );
  color: var(--textColor3);
}
