.dropdown {
  position: relative;
  z-index: 99;
}

.dropdownToggle {
  border: 0;
  outline: 0;
  background-color: transparent;
  position: relative;
}

.dropdownToggle > .icon {
  font-size: 2.2rem;
}

.dropdownToggle-badge {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: -8px;
  right: 0px;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  background-color: var(--background2);
  color: var(--textColor2);
  font-size: 0.75rem;
  font-weight: 600;
}

.dropdownContent {
  position: absolute;
  top: calc(100% + 5px);
  right: 0;
  padding: 30px;
  /* max-width:351px; width: max-content; */
  width: max-content;
  max-width: 351px;
  background-color: #fffafa;
  box-shadow: 0 4px 6px rgba(149, 157, 165, 0.2);
  border-radius: 5px;
  border: 1px solid rgba(149, 157, 165, 0.2);
  overflow: hidden;
  transform-origin: top right;
  transform: scale(0);
  transition: transform 0.3s ease 0s;
  font-size: 14px;
  line-height: 18px;
  font-weight: 500;
  color: #8e8e8e;
}

.listIcon {
  color: darkblue;
}
.listContent {
  color: purple;
}

.dropdownContent.active {
  transform: scale(1);
  transition: transform 0.5s var(--transitionCubic);
}

.dropdownHeader {
  font-size: 1rem;
  color: var(--textColor3);
  padding-bottom: 10px;
  text-align: center;
}

.dropdownFooter {
  padding-top: 20px;
  border-top: 1px solid #8e8e8e;
  font-weight: bold;
  font-size: 1rem;
  text-align: center;
  color: var(--textColor3);
}
