@use '../assets/scss/styles';

.main{
  &__content{
    border:1px solid fuchsia;
    position:absolute;
    z-index:-999;
    width:calc(100% - 320px);
    left:310px;
    top:0;
    right:50px;
    height:100vh;
    overflow-y: auto;
  }

  .sidebar.inactive ~ &__content{
    position:absolute;
    left:120px;
    right:40px;
    width:calc(100% - 130px);
  }
}